[github]
access_token = "github_pat_abcdefghijklmnopqrstuvwxyz0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghij"
repository = "Torxed/github-autorun"
# Secret is optional, but strongly recommended
# to avoid anyone being able to post to your webhook.
#
#secret = "some-webhook-secret-you-created"

[api]
fullchain = "/etc/github-autorun/fullchain.pem"
privkey = "/etc/github-autorun/privkey.pem"
address = "127.0.0.1"
port = 1337
log_level = "INFO"